      <article>

        <header class="entry-header">

          <hgroup>
            <h1 class="entry-title text-center">
              <a href="{{ url }}" title="Permalink to {{ title }}" rel="bookmark">{{ title }}</a>
            </h1>

            <h2 class="entry-subtitle text-secondary">{{ date | date: "%B %d, %Y" }}</h2>
          </hgroup>

          {% if image %}
          <img class="img-fluid entry-image" src="{{ image }}"/>
          {% endif %}

        </header> <!-- .entry-header -->

        <div class="entry-content">
          {{ content }}

          <div class="entry-meta">
            <hr/>
            <p>
              <span class="entry-author">{{ site.owner.name }}</span>
              {{ site.owner.bio }} <a href="/about">Learn more about me.</a>
            </p>

             <div class="entry-recent container">
              <div class="row">
                <div class="col-sm-auto">
                  <h2 class="entry-subtitle text-secondary">Latest posts</h2>
                </div>
                <div class="col-sm">
                  {% for post in site.posts limit:5 %}
                    <h6 class="entry-title">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                      <small class="text-muted">{{ post.date | date: "%B %d, %Y" }}</small>
                    </h6>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div> <!-- .entry-meta -->

        </div> <!-- .entry-content -->

     </article> <!-- #post -->
