/* Global */

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

li {
  line-height: 1.6em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* Site */

.site {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  text-transform: uppercase;
}

/* Entry */

.entry-header > hgroup {
  margin-top: 45px;
  margin-bottom: 25px;
}

.entry-title a,
.entry-title a:active,
.entry-title a:visited {
  color: #212529;
}

.entry-date {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
}

.entry-content {
  margin-top: 1.4em;
}

.entry-title,
.entry-content {
  padding-left: 100px;
  padding-right: 100px;
}

.entry-meta {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85em;
  display: block;
  margin-top: 30px;
}

.entry-author {
  font-weight: bold;
  font-style: normal;
  margin-right: 1px;
  color: #333333;
}

.entry-meta > hr {
  margin-left: 0px;
  padding: 0px;
  max-width: 100px;
  border: 0px;
  border-top: 1px solid #777777;
}

pre.highlight {
  font-size: 0.8em;
  padding: 10px;
}

.wp-caption {
  max-width: 100%;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.caption-text {
  min-height: 10px;
}

.entry-image .caption-text,
.wp-caption .wp-caption-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  text-align: center;
  margin-top: 10px;
}

.entry-content img {
  border: 1px solid #dddddd;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.wp-caption img {
  border: 1px solid #dddddd;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Responsive bits */

@media (max-width: 767px) {
  body {
    font-size: 18px;
  }

  .entry-title,
  .entry-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .entry-title,
  .entry-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 960px;
  }
}
