/* Global */

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

/* Site */

.site {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-light .navbar-brand {
  text-transform: uppercase;
  color: rgba(0,0,0,.6);
}

/* Entry */

.entry-header > hgroup {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.entry-title {
  line-height: 1.1em;
}

.entry-title a,
.entry-title a:active,
.entry-title a:visited,
.entry-title a:hover {
  text-decoration: none;
  color: #212529;
}

.entry-subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}

.entry-content {
  margin-top: 1.4em;
}

.entry-header > hgroup,
.entry-content {
  padding-left: 100px;
  padding-right: 100px;
}

.entry-meta {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  margin-top: 30px;
}

.entry-author {
  font-weight: bold;
  font-style: normal;
  margin-right: 1px;
}

.entry-meta > hr {
  margin-left: 0px;
  padding: 0px;
  max-width: 100px;
  border: 0px;
  border-top: 1px solid #777777;
}

.entry-recent {
  margin-top: 30px;
  border-top: 1px solid #DDDDDD;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.entry-recent .entry-subtitle {
  margin-top: 0px;
}

.entry-recent .entry-title {
  margin-top: 2px;
  margin-bottom: 10px;
}

pre.highlight {
  font-size: 0.8em;
  padding: 10px;
}

.figure {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.figure-caption {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  text-align: center;
}

/* Responsive bits */

@media (max-width: 767px) {
  body {
    font-size: 18px;
  }

  .entry-header > hgroup,
  .entry-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .entry-header > hgroup,
  .entry-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 960px;
  }
}
